/**
 * Created by Amg on 2016/11/17.
 */
$fontSize: 0.12rem;
$headerBgColor: #1d2228;
$headerFontColor: #8e9ba3;
$headerFontSize: 0.11rem;
$headerRoomNameFontSize: 0.12rem;
$housePaddingTop: 0.12rem;
$roomBgColor: #db5f3b, #e4a810, #1FBCF0;
$roomNoPlayBgColor: #6b747c;
$roomLogoHeight: 0.45rem;
$roomNameFontSize: 0.14rem;
$roomNameColor: #f2f7ff;
$roomNamePadding: 0.05rem;
$roomPlayingHeight: 0.15rem;
$roomPlayingFontSize: 0.11rem;
$playColor: ("on":#3b85d9, "off":#899198);
$contentBgColor: #0f1318;
$navBgColor: #ededed;
$navActiveBgColor: #eeeef2;
$navColor: #53555a;
$navFontSize: 0.12rem;
$navActiveColor: #3690ff;
$roomContentBgColor: #fafafa;
$noMoreFontSize: 0.16rem;
