/**
 * Created by Amg on 2016/11/4.
 */
$fontSize: 0.12rem;
$boxPadding: 0.15rem;
$chatBgColor: #e5e5ec;
$sendInputBgColor: #ffffff;
$sendMsgBtnBgColor: #02a7e3;
$cannotSendMsgBtnBgColor: gray;
$recordPaddingTop: 0.06rem;
$recordLeftWidth: 0.4rem;
$recordRightPaddingLeft: 0.06rem;
$recordRightPaddingRight: 0.3rem;
$recordHeaderFooterFont: 0.12rem;
$recordHeaderColor: gray;
$recordFooterColor: red;
$chatNameWidth: 0.8rem; // 昵称不超过6个汉字（12个字符）
